{% load static %}
<div class="bg-body-tertiary py-3 d-flex align-items-center justify-content-evenly">
  <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" width="130" alt="" /></a>
  <form action="">
    <input type="text" name="" id="" placeholder="Search..." class="form-control" />
  </form>
  <div>
    <a href=""><img class="mx-2" src="{% static 'images/icons/plus.png' %}" width="30" alt="" /></a>
    <a href=""><img class="mx-2" src="{% static 'images/icons/home.png' %}" width="30" alt="" /></a>
    <a href=""><img class="mx-2" src="{% static 'images/icons/messenger.png' %}" width="30" alt="" /></a>
    <a href=""><img class="mx-2" src="{% static 'images/icons/media.png' %}" width="30" alt="" /></a>
    <a href=""><img class="mx-2" src="{% static 'images/icons/heart.png' %}" width="30" alt="" /></a>
    <a href="{% url 'login' %}"><img class="mx-2" style="border-radius: 50px;" src="{% static 'images/profile.jpg' %}" width="30" alt="" /></a>
  </div>
</div>
